---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: machineclaims.hypervisor.hyperfleet.io
spec:
  group: hypervisor.hyperfleet.io
  names:
    kind: MachineClaim
    listKind: MachineClaimList
    plural: machineclaims
    singular: machineclaim
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MachineClaim is the Schema for the machineclaims API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MachineClaimSpec defines the desired state of MachineClaim.
            properties:
              foo:
                description: Foo is an example field of MachineClaim. Edit machineclaim_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: MachineClaimStatus defines the observed state of MachineClaim.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
