---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: hypervisorclusters.hypervisor.hyperfleet.io
spec:
  group: hypervisor.hyperfleet.io
  names:
    kind: HypervisorCluster
    listKind: HypervisorClusterList
    plural: hypervisorclusters
    singular: hypervisorcluster
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: HypervisorCluster is the Schema for the hypervisorclusters API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: HypervisorClusterSpec defines the desired state of HypervisorCluster.
            properties:
              foo:
                description: Foo is an example field of HypervisorCluster. Edit hypervisorcluster_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: HypervisorClusterStatus defines the observed state of HypervisorCluster.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
